:root {
  --primary-color: #b5dafb;
  --secondary-color: #adaddd;
  --tertiary-color: #95a984;
  --quartiary-color: #ef6b66;
  --background-color: #232738;
  --text-color: #232738;

  --spacing-size: 16px;
  --text-size: 16px;
  --text-lg-size: 20px;
  --text-sm-size: 12px
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0; 
    padding: 0;
    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--text-color); 
    line-height: 1.5; 
}

h3 {
    font-size: var(--text-lg-size);
    margin-block-end: 0px;
    margin-block-start: 0px;
}

h4 {
    font-size: var(--text-size);
    margin-block-end: 0px;
    margin-block-start: 0px;
}

p {
    font-size: var(--text-sm-size);
    margin-block-end: 0px;
    margin-block-start: 0px;
}

#inventory {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-size);
}

.actions-wrapper {
    background-color: var(--secondary-color);
    border-radius: var(--spacing-size);
    display: flex;
    flex: 1;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: var(--spacing-size);
    width: 100%;
}

.circle-container {
    border-radius: 50%;
    height: 250px;
    overflow: hidden; 
    width: 250px;
}

.circle-container img {
    height: 100%;
    object-fit: cover; 
    object-position: center;
    width: 100%;
}

.emoji {
    font-weight: bold;
    font-size: var(--text-lg-size);
}

.inventory-wrapper {
    background-color: var(--tertiary-color);
    border-radius: var(--spacing-size);
    display: flex;
    flex: 2;
    height: 100%;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding: var(--spacing-size);
    width: 100%;
}

.inventory-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-size);
    justify-content: space-around;
    padding-left: var(--spacing-size);
    padding-right: var(--spacing-size);
}

.inventory-column-inner {
    align-items: left;
    display: flex;
    flex-direction: column;

}

.inventory-item-wrapper {
    border: 2px solid var(--background-color);
    border-radius: var(--spacing-size);
    height: 64px;
    width: 64px;
}

.inventory-item {
    border-radius: var(--spacing-size);
    height: 100%;
    width: 100%;
}

.lower-wrapper {   
    align-items: center;
    display: flex;
    flex: 1;
    gap: var(--spacing-size);
}

.progress-container {
  width: 100%;
  background-color: var(--text-color);
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
}

.progress-bar {
    background-color: var(--quartiary-color); 
    height: 100%;
}

.outer-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-size);
    height: 100vh;
    padding: 16px;
    width: 100vw;
}

.tools-wrapper {
    background-color: var(--primary-color);
    border-radius: var(--spacing-size);
    display: flex;
    height: 100%;
    padding: var(--spacing-size);
    width: 100%;
}

.upper-wrapper {
    align-items: center;
    display: flex;
    flex: 1;
    gap: var(--spacing-size);
    justify-content: center;
    margin: auto;
    width: 100%;
}