:root {
  --primary-color: #b5dafb;
  --secondary-color: #adaddd;
  --tertiary-color: #95a984;
  --quartiary-color: #ef6b66;
  --background-color: #232738;
  --background-negative-color: #e9ecf5;
  --text-color: #232738;

  --spacing-size: 16px;
  --spacing-lg-size: 24px;
  --spacing-sm-size: 10px;

  --text-size: 16px;
  --text-lg-size: 20px;
  --text-sm-size: 12px;

  --border-solid: 2px solid;

  --widget-height: 36px;
  --widget-width: 96px;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0; 
    padding: 0;
    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--text-color); 
    line-height: 1.5; 
}

button {
    background-color: var(--quartiary-color);
    border-radius: var(--spacing-size);
    font-weight: 600;
    height: var(--widget-height);
    width: var(--widget-width);
}

h3 {
    font-size: var(--text-lg-size);
    margin-block-end: 0px;
    margin-block-start: 0px;
}

h4 {
    font-size: var(--text-size);
    margin-block-end: 0px;
    margin-block-start: 0px;
}

p {
    font-size: var(--text-sm-size);
    margin-block: 0px;
}

ul {
    padding-inline-start: var(--spacing-lg-size);
    margin-block: 0px;
}

li {
    font-size: var(--text-sm-size);
}

select, option {
    height: var(--widget-height);
    width: calc(2 * var(--widget-width));
}

select {
    border-radius: var(--spacing-sm-size);
}

#inventory {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-size);
}

.actions-wrapper {
    background-color: var(--secondary-color);
    border-radius: var(--spacing-size);
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: start;
    margin-left: auto;
    margin-right: auto;
    padding: var(--spacing-lg-size);
    width: 100%;
}

.actions-inner-wrapper {
    align-items: left;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg-size);
    justify-content: flex-start;

}

.action-group-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-size);
}

.circle-container {
    border-radius: 50%;
    height: 250px;
    overflow: hidden; 
    width: 250px;
}

.circle-container img {
    height: 100%;
    object-fit: cover; 
    object-position: center;
    width: 100%;
}

.emoji {
    font-weight: bold;
    font-size: var(--text-lg-size);
}

.inventory-wrapper {
    background-color: var(--tertiary-color);
    border-radius: var(--spacing-size);
    display: flex;
    flex: 3;
    height: 100%;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding: var(--spacing-size);
    width: 100%;
}

.inventory-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-size);
    justify-content: space-around;
    padding-left: var(--spacing-size);
    padding-right: var(--spacing-size);
}

.inventory-column-inner {
    align-items: left;
    display: flex;
    flex-direction: column;

}

.inventory-item-wrapper {
    border: var(--border-solid) var(--background-color);
    border-radius: var(--spacing-size);
    height: 64px;
    width: 64px;
}

.inventory-item {
    border-radius: var(--spacing-size);
    height: 100%;
    width: 100%;
}

.lower-wrapper {   
    align-items: center;
    display: flex;
    flex: 1;
    gap: var(--spacing-size);
}

.progress-container {
  width: 100%;
  background-color: var(--text-color);
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
}

.progress-bar {
    background-color: var(--quartiary-color); 
    height: 100%;
}

.outer-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-size);
    height: 100vh;
    padding: 16px;
    width: 100vw;
}

.tools-wrapper {
    background-color: var(--primary-color);
    border-radius: var(--spacing-size);
    display: flex;
    gap: var(--spacing-lg-size);
    height: 100%;
    padding: var(--spacing-lg-size);
    width: 100%;
}

.tools-column {
    display: flex;
    flex: 1;
    height: 100%;
}

.tool-info-wrapper {
    align-items: center;
    border-radius: var(--spacing-size);
    background-color: var(--background-negative-color);
    display: flex;
    gap: var(--spacing-size);
    justify-content: space-between;
    padding: var(--spacing-lg-size);
    width: 100%;
}

.tool-info-inner-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-size);

}

.tool-selection-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-size);
    margin: auto;
}

.tool-dropdown-wrapper {
    align-items: center;
    display: flex;
    gap: var(--spacing-size);
}

.tool-img-wrapper {
    border: var(--border-solid) var(--background-color);
    border-radius: var(--spacing-size);
    max-height: 120px;
    min-height: 120px;
    max-width: 120px;
    min-width: 120px;
}

.tool-dropdown-wrapper {
    display: flex;
    gap: var(--spacing-size);
}

.upper-wrapper {
    align-items: center;
    display: flex;
    flex: 1;
    gap: var(--spacing-size);
    justify-content: center;
    margin: auto;
    width: 100%;
}